@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Campus René Cassin<br />
    69009, Lyon<br />
    <abbr title="Phone">P:</abbr>
    04.01.02.03.04
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@epsi.fr</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@epsi.fr</a>
</address>