@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Bloqué";
}

<hgroup>
    <h1 class="text-danger">Bloqué.</h1>
    <h2 class="text-danger">Ce compte a été bloqué, veuillez réessayer ultérieurement.</h2>
</hgroup>
